body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  text-transform: uppercase;
  background-color:f2f2f2;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
height: auto;
}
.main-navigation {
  background-color: #ffffff;
}
.main-navigation-link {
  color: #000000;
  font-weight: bold;
}
.main-navigation-link:hover {
   color:#81b3d2;
 }
.main-navigation-link:active {
  color:#b2b2b2;
}
.main-navigation-link.active {
    color:#766357;
}
.main-navigation-list {
  list-style: none;
}
.advantage {
  background-color: #ffffff;
}
.advantage-list {
  list-style: none;
}
.advantage h3 {
  font-size:21px;
}
.advantage-list {
  line-height: 21px;
}
.black {
  color:#000000;
}
.advantage {
  text-align: center;
}
.advantage-item:first-child,
.advantage-item:nth-child(2)
 {
  color:#ffffff;
  background-color:#81b3d2;
}
.advantage-item-sub-list {
  list-style:none;
}
.hotels-search h4 {
  font-size:30px;
  line-height: 36px;
  color: #000000;
}
.hotels-search-form {
  width: 568px;
  height: 481px;
}
.search-open-btn {
  width:100%;
  background-color:#766357;
  color:#fff;
  font-size:21px;
  border:none;
}
.search-open-btn:hover {
  background-color: #604e43;
}
.search-open-btn:active,
.search-open-btn:focus {
  background-color: #503e33;
  color: #857871;
  outline:none;
}
.search-item input {
  font:inherit;
  border:none;
  background-color:#f2f2f2;
}
.search-item input:hover {
  background-color: #ebebeb;
}
.search-item input:active,
.search-item input:focus {
  background-color: #ffffff;
  border:2px solid #e5e5e5;
  outline:none;

}
.search-list {
  list-style: none;
}
.button-find {
  background-color:#81b3d2;
  color:#fff;
}
.button-find:hover {
  background-color: #669ec0;
}
.button-find:active,
.button-find:focus {
  background-color: #5496bc;
  color:#88b6d1;
}
.page-footer{
  background-color: #f9fbf6;
}
.visit-link a {
  font:inherit;
  color: #000000;
  font-size:21px;
}
.footer-social {
  text-align:center;
}
.social-btn {
  color:#333333;
}
.structure-list {
  list-style:none;
}
fieldset {
  border: none;
  color: #ffffff;
}
.forms-block {
  background-image: url(../img/background-input.jpg);
  background-repeat: no-repeat;
}
.range-fields {
  list-style:none;
}
.btn-transparent {
  background: transparent;
  border:2px solid #ffffff;
  color: #ffffff;
  font:inherit;
  text-transform: uppercase;
}
.form-caption {
  font-weight: bold;
}
.hotels-sort-list {
  font-size:12px;
  line-height: 18px;
  list-style:none;
}
.hotels-sort-item.find {
  font-size:21px;
  color: black;
}
.sort-item-link  {
  border-bottom: 2px dotted #81b3d2;
  color: #b1b1b1;
}
.sort-item-link.active {
  border:none;
  color: #81b3d2;
}
.sort-item-link:hover {
  color: #81b3d2;
}
.sort-item-link:active {
  color: #000000;
  border:none;
}
.hotel-list {
  list-style:none;

}
.hotel-name {
  font-size: 21px;
  color: #000000;
}
.hotel-name:hover {
  color:#81b3d2;
}
.hotel-name:active {
  color:#b2b2b2;
}
.hotel span {
  line-height:21px;
}
.rating {
  background-color:#f2f2f2;
  color:#666666;
}
.btn {
  font-size:14px;
  line-height:21px;
  color:#ffffff;

}
.btn.btn-blue {
  background-color: #81b3d2;
}
.btn.btn-blue:hover {
  background-color: #669ec0;
}
.btn.btn-blue:active {
  background-color: #5496bd;
  color:#88b6d1;
}
.btn.btn-brown {
  background-color: #766357;
}
.btn.btn-brown:hover {
  background-color: #604e43;
}
.btn.btn-brown:active {
  background-color: #503e33;
  color:#857871;
}
